In [2]:
import pandas as pd
import requests

In [3]:
url = 'https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/cdus/degree_days/msahddy.txt'
data = requests.get(url)#.json()

In [4]:
l = []
for line in data.iter_lines():
    s = line.decode('UTF-8')
    l.append(s)
list_of_interest = l[106:]
list_of_interest


my_list = []
for a in range(0, len(list_of_interest)):
    for x in list_of_interest[a].strip().split(' '):
        #print(x)
        if len(x) != 0:
                my_list.append(x)
                
num_list = []
word_list = []
for i in my_list:
    if i[-1] in '1234567890':
        num_list.append(i)
    else:
        word_list.append(i)

In [5]:
keys = ['New England', 'Mid Atlantic', 'E N Central', 'W N Central', 'S Atlantic', 'E S Central', 'W S Central', 'Mountain', 'Paficic', 'US']

l = []
for i in range(0,len(num_list),8):
    l.append(num_list[i:i+8])
    
l

[['807', '-86', '62', '4962', '-578', '-8', '-10', '0'],
 ['713', '-109', '66', '4593', '-560', '107', '-11', '2'],
 ['662', '-176', '-31', '5133', '-434', '214', '-8', '4'],
 ['638', '-184', '-58', '5472', '-312', '70', '-5', '1'],
 ['229', '-61', '48', '1792', '-275', '200', '-13', '12'],
 ['326', '-128', '43', '3006', '-313', '287', '-9', '11'],
 ['186', '-63', '65', '1969', '-115', '249', '-6', '14'],
 ['538', '45', '28', '3392', '-120', '23', '-3', '1'],
 ['557', '84', '-10', '3028', '-113', '-46', '-4', '-2'],
 ['382', '-58', '32', '2820', '-256', '158', '-8', '6']]

In [6]:
df = pd.DataFrame(data = l, index=keys)
df_final = df[[0,1,2]]
df_final.columns = ['Data', 'vs Normal', 'vs Last Year']

df_final['Normal'] = df_final['Data'].astype('int')-df_final['vs Normal'].astype('int')
df_final['Last Year'] = df_final['Data'].astype('int')-df_final['vs Last Year'].astype('int')

df_final_1 = df_final[['Data', 'Normal', 'Last Year']]
#df_final_1.to_csv('hdd.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
df_final_1

             Data  Normal  Last Year
New England   807     893        745
Mid Atlantic  713     822        647
E N Central   662     838        693
W N Central   638     822        696
S Atlantic    229     290        181
E S Central   326     454        283
W S Central   186     249        121
Mountain      538     493        510
Paficic       557     473        567
US            382     440        350